body {
  font-family: "Comic Sans MS";
  margin: 0;
}

#banner {
  background-color: #00cc00;
  background-position: 50% 100%;
  background-size: cover;
  padding: 25px 25px;
  text-align: center;
}

.section {
  display: flex;
  padding: 50px;
}

.section p {
  flex: 1;
}

.section svg {
  border: 1px solid red;
  flex: 2;
  height: 300px;
  margin: 20px;
}


@media (max-width: 600px) {
  .section {
    flex-direction: column;
  }

  .section svg {
    flex: none;
  }
}


#tooltip {
  background-color: aliceblue;
  display: none;
  position: absolute;
}