body {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
}

.main-banner {
  margin: 0 auto;
  /* width: 100vw; */
  height: 400px;
  background-color: #bad3dd;
  overflow: hidden;
  position: relative;
  background-position: 50% 100%;
  background-size: cover;
  padding: 20px 20px;
  text-align: left;
}


.main-banner .imgban {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
}



.main-banner #imgban3 {
  background-image: url(https://github.com/NiniChikovani/NiniChikovani.github.io/blob/main/Banner/CO2.jpg?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner #imgban2 {
  background-image: url(https://github.com/NiniChikovani/NiniChikovani.github.io/blob/main/Banner/CO3.jpg?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner #imgban1 {
  background-image: url(https://github.com/NiniChikovani/NiniChikovani.github.io/blob/main/Banner/CO1.jpg?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/*
#banner {
  background-image: url(https://github.com/NiniChikovani/NiniChikovani.github.io/commit/121da12b734de8fde94a52a1db3a86b8432fe199);
  background-color: #bad3dd;
  background-position: 50% 100%;
  background-size: cover;
  padding: 20px 20px;
  text-align: left;
}
*/

.section {
  display: flex;
  padding: 50px;
}

.section p {
  flex: 1;
}


.section svg {
  border: 0px;
  flex: 1;
  height: 500px;
  margin: 1px;
}

.section svg {
  border: 0px;
  flex: 1;
  height: 500px;
  margin: 10px;
  overflow: visible
}

#tooltip {
  background-color: rgb(235, 220, 241);
  display: none;
  position: absolute;
}

#banner {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: rgb(248, 255, 255);
  text-shadow: rgb(18, 0, 73) 1px 0 10px;
}