body {
    font-family: "Georgia, 'Times New Roman', Times, serif";
    margin: 0;
}

#banner {
    background-color: #9cc3d3;
  background-position: 50% 100%;
  background-size: cover;
    padding: 25px 25px;
    text-align: center;
  }


  .section {
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
  }
  
  .section svg {
    border: 3px solid rgb(221, 188, 228);
    flex: 3;
    height: 300px;
    margin: 20px;
  }

  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
  }

  #tooltip {
    background-color: rgb(235, 220, 241);
  display: none;
  position: absolute;
}